body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #fff;
}
.content {
  position: relative;
  width: 100%;
  /*min-height: 100vh;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 40vh;
  box-sizing: border-box;
}
.content.-one {
  background-color: #0e1821;
}
.content.-two {
  background-color: #587792;
}
.content.-three {
  background-color: #b88e8d;
}
.content.-four {
  background-color: #0e1821;
}
.content.-five {
  background-color: #587792;
}

.vdo-wrap {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.vdo-list {
  pointer-events: none;

  width: 100%;
  height: 120%;
  box-sizing: border-box;
  padding-top: 31vh;
}
.vdo-item {
  pointer-events: auto;
  position: relative;
  display: block;

  height: 73.75vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #587792;
}
.vdo-item-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.vdo {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: sticky;
  top: 0;
}
#vdo-1 {
  --item1-left-point: 100%;
  --item1-right-point: 100%;
  clip-path: polygon(
    0 100%,
    100% 100%,
    100% var(--item1-left-point),
    0 var(--item1-right-point)
  );
}
#vdo-2 {
  --item2-left-point: 100%;
  --item2-right-point: 100%;
  clip-path: polygon(
    0 100%,
    100% 100%,
    100% var(--item2-left-point),
    0 var(--item2-right-point)
  );
}
#vdo-3 {
  --item3-left-point: 100%;
  --item3-right-point: 100%;
  clip-path: polygon(
    0 100%,
    100% 100%,
    100% var(--item3-left-point),
    0 var(--item3-right-point)
  );
}
#vdo-4 {
  --item4-left-point: 100%;
  --item4-right-point: 100%;
  clip-path: polygon(
    0 100%,
    100% 100%,
    100% var(--item4-left-point),
    0 var(--item4-right-point)
  );
}
#vdo-5 {
  --item5-left-point: 100%;
  --item5-right-point: 100%;
  clip-path: polygon(
    0 100%,
    100% 100%,
    100% var(--item5-left-point),
    0 var(--item5-right-point)
  );
}
.vdo-control {
  cursor: pointer;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #fff;
  z-index: 3;
}
.vdo-control.-pause .control-button:before {
  display: none;
}
.vdo-control.-pause .control-button:after {
  display: block;
}
.control-button:before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: '=';
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  transform: rotate(90deg) translateX(-50%) translateY(-50%);
  transform-origin: left top;
}
.control-button:after {
  content: '';
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: rotate(-135deg) translateX(-50%) translateY(-50%);
  transform-origin: left top;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  background-color: #fff;
  margin-left: -3px;
}
.title,
.prg {
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  font-size: 50px;
  line-height: 1.2em;
  font-weight: 600;
  margin-top: 30px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: white;
}
.prg {
  font-size: 20px;
  line-height: 1.3em;
  color: white;
}
a {
  color: #fff;
  text-decoration: underline;
}
@media screen and (orientation: landscape) {
  .vdo-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
  }
  .vdo-item {
    width: 58.333vw;
    height: 32.91667vw;
    margin-left: auto;
    margin-right: 0;
  }
  .title,
  .prg {
    max-width: 31.25vw;
  }
  .title {
    font-size: 28px;
    margin-top: 0;
  }
  .prg {
    font-size: 18px;
  }
  .content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
  }
}
@media screen and (min-width: 760px) {
  .title {
    font-size: 3.8157vw;
  }
  .prg {
    font-size: 2.236vw;
  }
  .content {
    padding-left: 3vw;
  }
}

@media screen and (max-width: 500px) {
  .content {
    padding-top: 5vh;
  }

  .vdo-list {
    padding-top: 0;
  }

  .vdo-wrap {
    position: sticky;
    top: 0;
  }

  .content.-two,
  .content.-three,
  .content.-four,
  .content.-five {
    padding-top: 400px;
  }
}
